/* SECTION ONE */

.header {
  font-size: 96px;
  font-weight: 400;
  text-align: left;
  color: #dae6e6;
  line-height: 96px;
}

.paragraph {
  font-size: 18px;
  font-weight: 400;
  text-align: left;
  color: #dae6e6;
  line-height: 26px;
}

.sectionTwo {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  flex-direction: column;
}

.sectionOne {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.sectionMiddle {
  display: flex;
  flex-direction: column;
}

.sectionMiddleButton {
  width: fit-content;
  background-color: #eeff33;
  padding: 8px 24px 8px 24px;
  border-radius: 37px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  line-height: 26px;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

/* END OF SECTION ONE */

@media only screen and (max-width: 768px) {
  .header {
    font-size: 58px;
    line-height: 58px;
  }

  .paragraph {
    font-size: 14px;
  }

  .sectionOne {
    display: grid;
    grid-template-columns: none;
    grid-gap: 20px;
  }
}

@media only screen and (min-width: 769px) {
  .header {
    font-size: 72px;
    line-height: 72px;
  }

  .paragraph {
    font-size: 16px;
  }

  .sectionOne {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }
}

@media only screen and (min-width: 959px) {
  .sectionOne {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
  }
}
