/* NAVBAR */

.links {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-left: auto;
}

.navigation {
  display: flex;
  height: 74px;
  color: #f6fbfb;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
}

.extraLinks {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-left: auto;
  padding-left: 4rem;
}

.hamburgerLines {
  display: none;
  width: 2.4rem;
  margin-left: auto;
}

.hamburgerLines1 {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: white;
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}

.hamburgerLines2 {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: white;
  transition: transform 0.2s ease-in-out;
}

.hamburgerLines3 {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: white;
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}

/* END OF NAVBAR */

.mobileLinks {
  display: none;
  color: #f6fbfb;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  align-items: center;
  padding: 0 2rem 0.5rem 2rem;
}

@media only screen and (max-width: 600px) {
  .mobileLinks {
    display: block;
    width: 100%;
  }

  .extraLinks {
    padding-left: 0;
    padding-top: 2rem;
    flex-direction: column;
    gap: 0;
  }
}

@media only screen and (max-width: 600px) {
  .links {
    display: none;
  }

  .hamburgerLines {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
}
